html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  width: 550px;
  height: 550px;
  left: 62px;
  top: 64px;

  background: #1f2937;
}
h1 {
  position: absolute;
  width: 354px;
  height: 80px;
  left: 52px;
  top: 118px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: -0.025em;
  color: #ffffff;
}

h3 {
  position: absolute;
  width: 372px;
  height: 28px;
  left: 52px;
  top: 220px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #d5d4d8;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 17px 9px 15px;

  position: absolute;
  width: 223px;
  height: 42px;
  left: 52px;
  top: 287px;

  background: #10b981;
  /* shadow/sm */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  color: #ffffff;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

#line {
  position: absolute;
  width: 446px;
  height: 0px;
  left: 52px;
  top: 364px;
  border: 1px solid #ffffff;
}

#one {
  position: absolute;
  width: 211px;
  height: 39px;
  left: 52px;
  top: 399px;

  background: #273549;
  border-radius: 6px;
}

#two {
  position: absolute;
  width: 211px;
  height: 39px;
  left: 287px;
  top: 399px;

  background: #273549;
  border-radius: 6px;
}

#three {
  position: absolute;
  width: 211px;
  height: 39px;
  left: 52px;
  top: 465px;

  background: #273549;
  border-radius: 6px;
}

#four {
  position: absolute;
  width: 211px;
  height: 39px;
  left: 287px;
  top: 465px;

  background: #273549;
  border-radius: 6px;
}

div {
  color: #55f991;
  text-align: center;
  padding-top: 15px;
}

span {
  color: #55f991;
}
